<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentACar.Helpers.Properties.Configuration.ConnectionPath"
            connectionString="Data Source=DESKTOP-00TDQSV\SQLEXPRESS;Initial Catalog=RentACar;User ID=sa;Password=refteam123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>